.jumbotron {
    background-image: url("https://www.hagueapostille.co.uk/sites/default/files/styles/large/public/magnify-checking-banner800.jpg?itok=eeoyb-N6");
    min-height: 100%;
    min-width:70%;
    background-repeat: no-repeat;
    background-position: right  ;
    
}

