<<<<<<< HEAD
.jumbotron {
    background-image: url("https://www.hagueapostille.co.uk/sites/default/files/styles/large/public/magnify-checking-banner800.jpg?itok=eeoyb-N6");
    min-height: 100%;
    min-width:70%;
    background-repeat: no-repeat;
    background-position: right  ;
    
}

=======
.error{
    color: red;
}
>>>>>>> 3f24dcb3f27a958056a1b3d42ded47068e020882
