<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Forms</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-md bg-dark">
      <a class="navbar-brand" href="#">Vehicle Loan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="D:\VLS\proj.html">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">About us <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">EMI calculator <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Apply Loan <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      </div>
      </nav>
      <div><h3>Personal Details</h3></div>
  <div  class="container">
  <div class="jumbotron">
  <form>

    <div class="form-group">
      <label for="inputName">Full Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Enter Full Name">
    </div>

    <div class="form-group">
      <label for="inputAge">Age</label>
      <input type="number" class="form-control" id="inputAge" placeholder="Enter Age">
    </div>

    <!-- EMAIL SUBMISSION -->

  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <!-- PASSWORD -->


  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password">
  </div>

  <!-- DROPDOWN SELECT -->


  <div class="form-group">
    <label for="inputGender">Gender</label>
    <select class="form-control" id="inputGender">
      <option>Male</option>
      <option>Female</option>
      <option>Others</option>
    </select>
  </div>


  <!-- MULTIPLE SELECT OPTIONS -->

  <div class="form-group">
    <label for="inputMobile">Mobile No.</label>
    <input type="text" class="form-control" id="inputMobile" placeholder="Enter Mobile No.">
  </div>



  <!-- TEXT AREA -->

  <div class="form-group">
    <label for="inputState">State</label>
    <input type="text" class="form-control" id="inputState" placeholder="Enter State">
  </div>

  <div class="form-group">
    <label for="inputCity">City</label>
    <input type="text" class="form-control" id="inputCity" placeholder="Enter City">
  </div>

  <div class="form-group">
    <label for="inputPin">Pincode</label>
    <input type="number" class="form-control" id="inputPin" placeholder="Enter Pincode">
  </div>

  <div class="form-group">
    <label for="inputAddress">Address</label>
    <textarea class="form-control" id="inputAddress" rows="3"></textarea>
  </div>



  <!-- CHECK BUTTON -->

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      I hereby declare everything mentioned above is true.
    </label>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>


</form>
</div>
</div>
</div>

  </body>
</html>
