<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
        integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Forms</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-md bg-dark">
            <a class="navbar-brand" href="#">Vehicle Loan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About us <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/Emicalc">EMI calculator <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/ApplyLoan">Apply Loan <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/Login">Login <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/Register">Register <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div><br>
            <h3>EMI Calculator</h3>
        </div><br>
        <div class="container">
            <div class="jumbotron">
                <form>

                    <div class="form-group">
                        <label for="amount"><b>Amount</b></label>
                        <input type="number" class="form-control" id="amount" placeholder="Enter Amount" onchange="Calculate()">
                    </div>

                    <div class="form-group">
                        <label for="rate"><b>Rate of Interest</b></label>
                        <input type="number" class="form-control" id="rate" placeholder="Enter rate" onchange="Calculate()">
                    </div>

                    <div class="form-group">
                        <label for="months"><b>Months</b></label>
                        <input type="number" class="form-control" id="months" placeholder="Enter Months" onchange="Calculate()">
                    </div>

                    <div class="form-group">
                    <h4 id="total"></h4>
                    </div>



                </form>
            </div>
        </div>
    </div>

<script>

    function Calculate() {

            // Extracting value in the amount 
            // section in the variable
            const amount = document.querySelector("#amount").value;

            // Extracting value in the interest
            // rate section in the variable
            const rate = document.querySelector("#rate").value;

            // Extracting value in the months 
            // section in the variable
            const months = document.querySelector("#months").value;

            // Calculating interest per month
            const interest = (amount * (rate * 0.01)) / months;

            // Calculating total payment
            const total = ((amount / months) + interest).toFixed(2);

            document.querySelector("#total")
                .innerHTML = "EMI : (₹)" + total;
        }


</script>

</body>

</html>