
<!--<app-home></app-home>
<app-about-us></app-about-us>
<app-login></app-login>
<app-emi-calc></app-emi-calc>
<app-registration></app-registration>
<app-application-files></app-application-files>
<app-application-vehicle></app-application-vehicle>
<app-eligibility-vehicle></app-eligibility-vehicle>
<app-eligibility-application></app-eligibility-application>
<app-application-personal></app-application-personal>
<app-loan-offers></app-loan-offers>
<app-user-dash></app-user-dash>
<app-admin-dash></app-admin-dash>-->
<router-outlet></router-outlet>


