<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
        integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Loan Offers</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-md bg-dark">
            <a class="navbar-brand" href="#">Vehicle Loan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div>
            <h3>&nbsp Loan Offers</h3>
        </div>
        <div class="container">
            <div class="jumbotron">
                <form>
                    
                    <!-- Loan Offers -->

                    <div class="form-group">
                        <label for="inputLoanAmount">Loan Amount</label>
                        <input type="number" class="form-control" id="inputLoanAmount" placeholder="Enter Loan Amount" required>
                    </div>

                    <div class="form-group">
                        <label for="inputBestRate">Best Rate</label>
                        <input type="number" class="form-control" id="inputBestRate" placeholder="Enter Rate of Interest" required>
                    </div>
					
					 <div class="form-group">
                        <label for="inputEmi">EMI</label>
                        <input type="number" class="form-control" id="inputEmi" placeholder="Enter EMI" required>
                    </div>
					
					<div class="form-group">
                        <label for="inputProcessingFee">Processing Fee</label>
                        <input type="number" class="form-control" id="inputProcessingFee" placeholder="Enter Processing Fee" required>
                    </div>
					
					<div class="form-group">
                        <label for="inputAccountType">Account Type</label>
						<br>
                        <input type="radio" id="Savings"  value="Savings">
  						<label for="Savings">Savings</label>
  						<input type="radio" id="Current" value="Current">
  						<label for="Current">Current</label><br>
                    </div>

                    <button type="apply" class="btn btn-primary">Apply Now</button><br><br>
					<button type="scheduler" class="btn btn-primary">EMI Scheduler</button><br>
					
                </form>
            </div>
        </div>
    </div>

</body>

</html>